html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $body-font;
  letter-spacing: 0.03em;
  background-color: $primary-background-color;
  color: $primary-text-color;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section__caption {
  visibility: hidden;
  margin: 0;
  height: 0;
}

.image {
  display: block;

  height: auto;
}
