// ------------colors-------------

$primary-background-color: #ffffff;
$content-background-color: #2f303a;
$logo-color: #2196f3;
$header-logo-color: #000000;
$footer-logo-color: #ffffff;
$accent-color: #2196f3;
$primary-text-color: #757575;
$title-text-color: #212121;
$hero-headline-color: #ffffff;
$team-background-color: #f5f4fa;
$footer-contact: rgba(255, 255, 255, 0.6);
$second-section-background-color: #f5f4fa;
$team-item-background: #ffffff;
$icon-color: #afb1b8;
$accent-team-icon-color: #ffffff;
$accent-team-background-color: #2196f3;
$overlay-bg-color: rgba(33, 150, 243, 0.9);
$social-bg-color: rgba(255, 255, 255, 0.1);
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$modal-title-color: #212121;
$modal-label-color: #757575;
$work-bg-color: rgba(47, 48, 58, 0.8);
$placeholder-color: rgba(117, 117, 117, 0.5);

$header-border: 1px solid #ececec;
$footerform-border: 1px solid rgba(255, 255, 255, 0.3);
$shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);

// ----------fonts-----------
$body-font: "Roboto", sans-serif;
$font-logo: "Raleway";

$font-wh-black: 900;
$font-wh-bold: 700;
$font-wh-medium: 500;
$font-wh-regular: 400;
